{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	</head>
	<div class="container">
		<h1 align='center'>
			<img src="img/test/7upspot.gif">&nbsp;
			<font color="#FF0000">W</font>
			<font color="#FF5A00">e</font>
			<font color="#FFB400">l</font>
			<font color="#FFff00">c</font>
			<font color="#A5ff00">o</font>
			<font color="#4Bff00">m</font>
			<font color="#00ff00">e</font>
			<font color="#00ff00"> </font>
			<font color="#00ff5A">t</font>
			<font color="#00AA5A">o</font>
			<blink>
				<font color="#00ffB4">T</font>
				<font color="#00ffff">e</font>
				<font color="#00B4ff">c</font>
				<font color="#005Aff">h</font>
				<font color="#A000ff">m</font>
				<font color="#4B00ff">a</font>
				<font color="#A500ff">s</font>
				<font color="#FF00ff">t</font>
				<font color="#FF00B4">e</font>
				<font color="#00ffff">r</font>
				<font color="#00ff00">s</font>
				<font color="#005Aff">!</font>
			</blink>
		</h1>
		<div class='row' align='center'>
			<img align='center' src="{% static 'img/rainbow.gif' %}">
		</div>
		<h3 align='center'>
		Have a programming meme...
		</h3>
		<div class='row' align='center'>
			<marquee>We have the best programming memes. Out of all of them. These are the best. Your welcome.</marquee>
		</div>
		<div class='row' align='center'>
			<img align='center' src="{% static 'img/mchammer.gif' %}" />
			<img align='center'  src="{% static 'img/mchammer.gif' %}" />
			<img align='center'  src="{% static 'img/mchammer.gif' %}" />
		</div>
		<div align='center' class='row'>
			<img align='center' src="data:image/png;base64, {{ Image }}">
		</div>
		<div align='center' class='row'>
			<img align='center' src="{% static 'img/flames.gif' %}">
		</div>
	</div>
</html>